resources/datatypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DataTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DataType" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="BaseType" use="optional"/>
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:short" name="Length" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>