resources/entitytypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Attribute">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Name"/>
                <xs:attribute type="xs:string" name="Type"/>
                <xs:attribute type="xs:string" name="Description"/>
                <xs:attribute type="xs:string" name="Nullable"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="Name"/>
      <xs:attribute type="xs:string" name="Decription"/>
      <xs:attribute type="xs:string" name="Parent"/>
      <xs:attribute type="xs:string" name="ParentRealtion"/>
      <xs:attribute type="xs:string" name="Persistent"/>
    </xs:complexType>
  </xs:element>
</xs:schema>