resources/entitytypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Container">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entity" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Entity.Attributes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="AttrDescription" use="optional"/>
                            <xs:attribute type="xs:string" name="AttrName" use="optional"/>
                            <xs:attribute type="xs:string" name="Type" use="optional"/>
                            <xs:attribute type="xs:string" name="Nullable" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Description" use="optional"/>
            <xs:attribute type="xs:string" name="Persistent" use="optional"/>
            <xs:attribute type="xs:string" name="Name" use="optional"/>
            <xs:attribute type="xs:string" name="Parent" use="optional"/>
            <xs:attribute type="xs:string" name="ParentRelation" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>